<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="BDProyectoPNN1" connectionString="Data Source=CARLGP-PC;Initial Catalog = BDProyectoPNN1; Integrated Security = True"
   providerName="System.Data.SqlClient;" />
        <add name="CapaPresentacion.Properties.Settings.cn" 
             connectionString="Data Source=CARLGP-PC;Initial Catalog = BDProyectoPNN1; Integrated Security = True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>